form.form__form
    fieldset.form__fieldset
        legend= translation.form_legend[lang]
        textarea.form__param(
            name='params'
            placeholder=translation.form_textarea1_placeholder[lang]
        )
        span &#160;
        textarea.form__forceCmd(
            name='forceCmds'
            placeholder=translation.form_textarea2_placeholder[lang]
        )
        span &#160;
        textarea.form__cmd(
            name='cmds'
            placeholder=translation.form_textarea3_placeholder[lang]
        )
        span &#160;
        button.form__button(
            type='submit'
        )= translation.form_button_submit[lang]