form.form__form
    fieldset.form__fieldset
        legend= translation.form_legend[lang]
        each val, key in dataLocal2.gui
            textarea.form__gui(
                name=key
                placeholder=translation[`form_${key}_placeholder`][lang]
            )
            span &#160;
        <br>
        button.form__button(
            type='submit'
        )= translation.form_button_submit[lang]
        span &#160;