form.form__form
    fieldset.form__fieldset
        legend= title
        input.form__param(
            type='text'
            name='param'
            placeholder='параметр: значение'
        )
        span &#160;
        input.form__forceCmd(
            type='text'
            name='forceCmd'
            placeholder='срочная команда'
        )
        span &#160;
        input.form__cmd(
            type='text'
            name='cmd'
            placeholder='команда'
        )
        span &#160;
        button.form__button(
            type='submit'
        ) Отправить