form.form__form
    fieldset.form__fieldset
        legend= translation.form_legend[lang]
        input.form__param(
            type='text'
            name='params'
            placeholder=translation.form_input1_placeholder[lang]
        )
        span &#160;
        input.form__forceCmd(
            type='text'
            name='forceCmds'
            placeholder=translation.form_input2_placeholder[lang]
        )
        span &#160;
        input.form__cmd(
            type='text'
            name='cmds'
            placeholder=translation.form_input3_placeholder[lang]
        )
        span &#160;
        button.form__button(
            type='submit'
        )= translation.form_button_submit[lang]