form.queue__form
    fieldset.queue__fieldset
        legend= translation.queue_legend[lang]
        textarea.queue__param(
            readonly
            name='params'
            placeholder=translation.queue_textarea1_placeholder[lang]
        )= JSON.stringify(data.gui.params)
        span &#160;
        textarea.queue__forceCmd(
            readonly
            name='forceCmds'
            placeholder=translation.queue_textarea2_placeholder[lang]
        )= JSON.stringify(data.gui.forceCmds)
        span &#160;
        textarea.queue__cmd(
            readonly
            name='cmds'
            placeholder=translation.queue_textarea3_placeholder[lang]
        )= JSON.stringify(data.gui.cmds)
        span &#160;
        textarea.queue__sendTime(
            readonly
            name='sendTime'
            placeholder=translation.queue_textarea4_placeholder[lang]
        )= JSON.stringify(data.gui.sendTime)
        span &#160;
        button.queue__button(
            type='submit'
        )= translation.queue_button_submit[lang]
        span &#160;
        button.queue__buttonStart(
            type='button'
            data-run=1
        )= translation.queue_button_start[lang]
        
