form.queue__form
    fieldset.queue__fieldset
        legend= translation.queue_legend[lang]
        each val, key in data.gui
            include queueGuiItem.pug

        button.queue__button(
            type='submit'
        )= translation.queue_button_submit[lang]
        span &#160;
        button.queue__buttonStart(
            type='button'
            data-action='run'
            style='color: ' + runColor
        )= translation.queue_button_start[lang]
        span &#160;

        <br>
        <br>

        each val, key in data.dev
            include queueDevItem.pug

